* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #EEE;
}
::-webkit-scrollbar-thumb {
  background-color: #009688;
  border-radius: 6px;
}


.responsive-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1000px;
    text-align: center;
    margin-bottom: 7px;
}
caption {
    background-color: #009688;
    color: #fff;
    padding: 10px 0;
    font-size: 1.3rem;
}
table thead {
  background-color:aliceblue;
}
  th, td {
    border: 1px solid #DDD;
    padding: 8px 5px;
    min-width: 100px;
  }
  
  th {
    background-color: transparent;
    font-weight: bold;
    color: #009688;
    font-size: 19px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .popup
{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    display:none ;
    place-items: center;
}
.popup.active
{
    display: grid;
    animation: show .7s ease-in-out alternate;
}

@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup .form-container {
  position: relative;
}
.popup form
{
  background-color: #fff;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 50px 20px;
}
.popup .close, .close-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}
.popup form input, .popup form select
{
  width: 100%;
  background-color: transparent;
  border:none;
  box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
  margin: 5px 0 20px;
  padding: 12px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 4px;
}
.popup form select {
  padding: 12px;
}
.popup form input[type = "submit"]
{
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    max-width: 100px;
}

.container .buttons {
  width: 500px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  display: flex;
}
.container .buttons button{
  background-color: #009688;
  margin-top: 20px;
  padding: 10px 20px;
  display: block;
  min-width: 140px;
  margin: 12px auto;
  padding: 10px 7px;
  border:none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.container .buttons .delete {
  background-color: #f31a1a;
}