/* *
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: System-ui;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #EEE;
}
::-webkit-scrollbar-thumb {
  background-color: #009688;
  border-radius: 6px;
}

.wrapper
{
    background-color: #fff;
    overflow-x: auto;
}
#crud 
{
    min-width: 1000px;
    text-align: center;
    margin: 15px auto;
}
#crud caption
{
    background-color: #009688;
    color: #fff;
    padding: 10px 0;
    font-size: 1.5rem;
}
#crud thead
{
    background-color:aliceblue;
   
}
#crud thead td
{
    padding: 10px;
    color: #009688;
}
#crud tbody td
{
    padding: 10px;
    border-bottom: 1px solid #009688;
    color: #666565;
}
#crud tbody td button,.add-user
{
    padding: 5px 7px;
    border:none;
    background: transparent;
    font-family: cursive;
    font-size: .9rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
#crud tbody td button.edit
{
    background-color:#009688;
}
#crud tbody td button.delete
{
    background-color:#e91e63;
}
.add-user
{
    background-color: #009688;
   margin-top: 20px;
   padding: 10px 20px;
   display: block;
   max-width: 200px;
   margin: 25px auto;
}
.popup
{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    display:none ;
    place-items: center;
}
.popup.active
{
    display: grid;
    animation: show .7s ease-in-out;
}

@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup .form-container {
  position: relative;
}
.popup form
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 50px 20px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}
.popup form input
{
    width: 100%;
    background-color: transparent;
    border:none;
    box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
    margin: 15px 0;
    padding: 12px 15px;
    font-size: 1.1rem;
    font-family: cursive;
   
}
.popup form input[type = "submit"]
{
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    max-width: 100px;
}


 */













* {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px 5px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  td {
    background-color: #fff;
  }
  
  td.today {
    color: #000;
    font-weight: bold;
  }


  .popup
{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    display:none ;
    place-items: center;
}
.popup.active
{
    display: grid;
    animation: show .7s ease-in-out alternate;
}

@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup .form-container {
  position: relative;
}
.popup form
{
  background-color: #fff;
  /* display: flex; */
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 50px 20px;
}
.popup .close, .close-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}
.popup form input, .popup form select
{
  width: 100%;
  background-color: transparent;
  border:none;
  box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
  margin: 5px 0 20px;
  padding: 12px;
  font-size: 1.1rem;
  font-family: cursive;
  outline: none;
  border-radius: 4px;
}
.popup form select {
  /* background-color: #DDD; */
  padding: 12px;
}
.popup form input[type = "submit"]
{
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    max-width: 100px;
}

.container .buttons {
  width: 500px;
  margin: auto;
  display: flex;
}
.container .buttons button{
  background-color: #009688;
  margin-top: 20px;
  padding: 10px 20px;
  display: block;
  min-width: 150px;
  margin: 20px auto;
  padding: 10px 7px;
  border:none;
  font-size: .9rem;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}
.container .buttons .delete {
  background-color: #f31a1a;
}